[Unit]
Description=Gunicorn instance to serve LkNW513
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/LkNW513
Environment="PATH=/var/www/LkNW513/venv/bin"
Environment="DATABASE_URL=postgresql+psycopg2://postgres:root@localhost/forms_db"
ExecStart=/var/www/LkNW513/venv/bin/gunicorn --workers 3 --bind unix:/var/www/LkNW513/LkNW513.sock wsgi:app

[Install]
WantedBy=multi-user.target