{% extends "base.html" %}
{% block title %}Динамическая форма{% endblock %}
{%block head %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
{%block header %}
<a
  href='{{url_for("get_data")}}'
  class="btn btn-secondary btn-sm active w-100"
  role="button"
  aria-pressed="true"
  >Посмотреть данные</a
>
{% endblock %}
{%block content %}
<form id="main-form" action="{{ url_for('submit_data') }}" method="POST">
  <div class="mb-3">
    <button id="add-input" type="button" class="btn btn-secondary">
      Добавить input
    </button>
    <button type="submit" class="btn btn-secondary">Сохранить</button>
  </div>
  <div id="dynamic-inputs">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">#0:</span>
      </div>
      <input
        name="input_0"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
      />
    </div>
  </div>
</form>
{% endblock %}
